#ifndef SECRETS_H
#define SECRETS_H

struct WifiNetwork {
  const char* ssid;
  const char* password;
};

const WifiNetwork networks[] = {
  {"ssid1", "password1"},
  {"ssid2", "password2"}
};

const int NET_COUNT = sizeof(networks)/sizeof(networks[0]);

#endif
